html 
{
    padding-top: 20px;
    background-image: url(image/button_3.png);
    background-repeat: no-repeat;
    background-position: left top;
}

body {
    width: 80%;
    padding: 20px;
    margin: 50px auto;
    border-radius: 30px;
    box-shadow: 20px 20px 20px rgba(0,0,0,.5);
    background-color: rgba(210, 180, 140, .8);
}
h1 {
    font-style: italic;
    color: #8B3A3A;
    font-size: 4em;
    margin: 0;
}

p {
    font-size: 1.5em;
    line-height: 120%;
    margin-top: 20px;
    margin-left: 70px;
}

h2 {
    color: #EE0000;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    border-bottom: 3px ##EE0000 solid;
    padding: 0 0 2px 60px;
    margin: 0;
}

.info, blockquote {
    color: #8B3A3A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin-left: 0;
    margin-bottom: 25px;
}

blockquote {
    font-style: italic;
}
p {
    color: #708090;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 70px;
    padding-left: 20px;
    border-left: solid 20px #FFD700;
}

h1, h2, h3 {
    color: #000080;
    font-family: Times, serif;
    border-bottom: 1px solid #000080;
    padding-top: 7px;
}
h1 {
    font-size: 3em;
    border-bottom: 2px solid #000080;
    padding-bottom: 20px;
}
.interesting {
    font-style: italic;
}
#info {
    background-color: #FAF0E6;
    padding: 0;
    margin: 0 auto;
    width: 800px;
}
h1 {
    color: rgb(178,34,34);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    text-align: center;
    text-shadow: 4px 3px 6px rgba(0,0,0,.5);
    background-image: url('images/switok.png'); /*Добавляет фоновое изображение*/
    background-repeat: no-repeat; /*Изображение не повторяется в рамках элемента*/
    background-position: top center; /*Позиционирует изображение*/
    background-size: contain; /*Определяет размеры фонового изображения, помещая его в область элемента*/
    margin: 0 auto; /*Задает размер полей элемента*/
    padding: 70px 50px; /* Задает размер отсутпов элемента */
}

h2 {
    font: bold 3.5em Garamond, Times, serif;
    margin-top: 25px;
}

em {
    color: rgb(32,126,191);
    text-transform: uppercase;
    margin-left: 5px;
    font-size: 70%;
}

div h3 {
    color: rgb(112,128,144);
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 10px;
}
p {
    font-size: 1.5em;
    line-height: 150%;
    margin-left: 150px;
    margin-right: 50px;
    margin-bottom: 10px;
}

    p:first-letter {
        font-size: 2em;
        font-weight: bold;
        color: rgb(112,128,144);
    }
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(216,191,216);
}
ol {
    margin: 50px 0 25px 50px;
    width: 200px;
}

li {
    color: rgb(178,34,34);
    font-size: 1.5em;
    margin-bottom: 7px;
}




